{% extends 'Dashboard/base.html' %}
{% load static %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Edit Task</li>
{% endblock page %}

{% block content %}

<!-- BEGIN: Notification -->
{% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
{% endif %}
<!-- BEGIN: Notification -->

<div class="intro-y box py-10 sm:py-10 mt-5">

    <h2 class="text-primary" style=" font-size: 30px; font-weight: 500; text-align: center;">Edit Task</h2>
    
    <div class="px-3 sm:px-10 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5"> 
                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Title</label>
                    <input value="{{ task.Title }}" name="title" type="text" class="form-control" placeholder="Enter Task Title Here" required maxlength="100">
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Client</label>
                    <select name="client" id="" class="form-control" required>
                        <option value="{{ task.Client.id }}">{{ task.Client }}</option>
                        {% for client in clients %}
                            <option value="{{ client.id }}">{{ client }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Assign To</label>
                    <select name="employee" id="" class="form-control" required>
                        <option value="{{ task.Assigned_To.id }}">{{ task.Assigned_To }}</option>
                        {% for employee in employees %}
                            <option value="{{ employee.id }}">{{ employee }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Start Date</label>
                    <input value="{{ task.Start_Date | date:'Y-m-d' }}" name="start_date" type="date" class="form-control" required>
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Due Date</label>
                    <input value="{{ task.Due_Date | date:'Y-m-d' }}" name="due_date" type="date" class="form-control" required>
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Priority</label>
                    <select name="priority" id="" class="form-control" required>
                        <option value="{{ task.Priority }}">{{ task.Priority }}</option>
                        <option value="Normal">Normal</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>

                <div class="intro-y col-span-12 sm:col-span-12">
                    <label for="input-wizard-2" class="form-label">Description</label>
                    <textarea name="description" id="" cols="30" rows="5" class="form-control">{{ task.Description }}</textarea>
                </div>

                <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                    <button class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock content %}