{% extends 'Dashboard/base.html' %}
{% load static %}

{% block title %} 
    <title>Category List | General Website</title> 
{% endblock title %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Category List</li>
{% endblock page %}

{% block content %}

<!-- BEGIN: Notification -->
{% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
{% endif %}
<!-- BEGIN: Notification -->

    <h2 class="intro-y text-lg font-medium mt-10 text-primary" style="text-align: center;font-size: 35px;padding-top: 30px;padding-bottom: 30px;border-bottom: solid 1px #bcbcbc;">Categories</h2>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap xl:flex-nowrap items-center mt-2">
            <div class="hidden xl:block mx-auto text-slate-500"></div>
            <div class="w-full xl:w-auto flex items-center mt-3 xl:mt-0">
                <button class="btn btn-outline-secondary shadow-md mr-2">
                    <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export to Excel
                </button>
                <a href="{% url 'add-category' %}"><button class="btn btn-primary shadow-md mr-2">Create New Category</button></a>
            </div>
        </div>
        <!-- BEGIN: Data List -->
        {% if categories %}
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
                <table class="table table-report -mt-2">
                    <thead>
                        <tr>
                            <th class="text-center whitespace-nowrap">SL. NO.</th>
                            <th class="text-center whitespace-nowrap">TITLE</th>
                            <th class="text-center whitespace-nowrap">REFERENCE</th>
                            <th class="text-center whitespace-nowrap">ADDED ON</th>
                            <th class="text-center whitespace-nowrap">IMAGES</th>
                            <th class="text-center whitespace-nowrap">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr class="intro-x">

                                <td class="text-center whitespace-nowrap">
                                    <a href="" class=" whitespace-nowrap">{{ forloop.counter }}</a>
                                </td>

                                <td class="text-center whitespace-nowrap">
                                    <a href="" class="font-medium whitespace-nowrap">{{ category.Title }}</a>    
                                </td>

                                <td class="text-center whitespace-nowrap">
                                    {{ category.Reference }}
                                </td>

                                <td class="text-center whitespace-nowrap">
                                    {{ category.Added_Date | date:"d M Y" }}
                                </td>

                                <td class="text-center flex justify-center whitespace-nowrap">
                                    {% if category.Image %}
                                        <img src="{{ category.Image.url }}" alt="" class="w-10 h-10 rounded">
                                    {% endif %}
                                </td>
                                
                                <td class="table-report__action">
                                    <div class="flex justify-center items-center">
                                        <a class="flex items-center text-warning whitespace-nowrap mr-5" href="{% url 'view-category' category.id %}" title="view">
                                            <i data-lucide="eye" class="w-4 h-4 mr-1"></i>
                                        </a>
                                        <a class="flex items-center text-primary whitespace-nowrap mr-5" href="{% url 'edit-category' category.id %}" title="edit">
                                            <i data-lucide="edit" class="w-4 h-4 mr-1"></i> 
                                        </a>
                                        <a onclick="delete_category('{{category.id}}')" class="flex items-center text-danger whitespace-nowrap" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal" title="delete">
                                            <i data-lucide="trash" class="w-4 h-4 mr-1"></i> 
                                        </a>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
                <table class="table table-report -mt-2">
                    <tbody>
                        <tr class="intro-x width"> 
                            <td class=" width" style="width:100%;">
                                <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;
                                    background: #e8e4e4;" class="w-4 h-4 mr-2 text-primary">  
                                </i>
                            <div style="text-align: center;">No data available!</div>
                            </td>   
                        </tr>    
                    </tbody>
                </table>
            </div>
        {% endif %}
        <!-- END: Data List -->
        <!-- BEGIN: Pagination -->
        {% if categories %}
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
            <nav class="w-full sm:w-auto sm:mr-auto">
                <ul class="pagination">
                    {% if categories.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{categorys.previous_page_number}}">
                            <i class="w-4 h-4" data-lucide="chevrons-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="">
                            <i class="w-4 h-4" data-lucide="chevrons-left"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% for n in nums %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                    {% endfor %}
                    {% if categories.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{categorys.next_page_number}}">
                            <i class="w-4 h-4" data-lucide="chevrons-right"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="">
                            <i class="w-4 h-4" data-lucide="chevrons-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
        <!-- END: Pagination -->
    </div>
    <!-- BEGIN: Delete Confirmation Modal -->
    <div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="category_id" id="category_id">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="p-5 text-center">
                            <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                            <div class="text-3xl mt-5">Are you sure?</div>
                            <div class="text-slate-500 mt-2">Do you really want to delete these records? <br>This process cannot be undone.</div>
                        </div>
                        <div class="px-5 pb-8 text-center">
                            <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                            <button type="submit" class="btn btn-danger w-24">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Delete Confirmation Modal -->
    <script>
        function delete_category(category_id){
            $('#category_id').val(category_id)
        }
    </script>
{% endblock content %}