{% extends 'Dashboard/base.html' %}
{% load static %}

{% block title %} 
    <title>Product View | General Website</title> 
{% endblock title %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Product View</li>
{% endblock page %}

{% block content %}

<!-- BEGIN: Notification -->
{% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="review" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
{% endif %}
<!-- BEGIN: Notification -->

    <h2 class="intro-y text-lg font-medium mt-10 text-primary" style="text-align: center;font-size: 35px;padding-top: 30px;padding-bottom: 30px;border-bottom: solid 1px #bcbcbc;">View Product</h2>
    <!-- BEGIN: General Report -->
    <div class="col-span-12 xl:col-span-9 mt-8">
        
        <div class="report-box-2 intro-y mt-5">
            <div class="box grid grid-cols-12">
                <div class="col-span-12 lg:col-span-4 px-8 py-12 flex flex-col justify-center" style="    background: #d4e1ff;">
                    <i data-lucide="pie-chart" class="w-10 h-10 text-pending"></i> 
                    <div class="justify-start flex items-center text-slate-600 dark:text-slate-300"> </div>
                    <div class="flex items-center justify-start mt-4">
                        <div class="relative text-2xl font-medium ml-0.5"> <span class="absolute text-xl font-medium top-0 left-0 -ml-0.5"></span> {{ product.Title }}<br>{{ product.Reference }}</div>
                    </div>
                    <!-- <div class="mt-4 text-slate-500 text-xs">Last updated 1 hour ago</div> -->
                    <a href="{% url 'edit-product' product.id %}">
                        <button class="btn btn-outline-secondary relative justify-start rounded-full w-60 mt-12" style="    background: #36a920; color:#fff;">
                            Edit Product
                            <span class="w-8 h-8 absolute flex justify-center items-center  text-white rounded-full right-0 top-0 bottom-0 my-auto ml-auto mr-0.5"> <i data-lucide="arrow-right" class="w-4 h-4"></i> </span>
                        </button>
                    </a>
                </div>
                <div class="col-span-12 lg:col-span-8 p-8 border-t lg:border-t-0 lg:border-l border-slate-200 dark:border-darkmode-300 border-dashed">
                    
                    <div class="tab-content px-5 pb-5">
                        <div class="tab-pane active grid grid-cols-12 gap-y-8 gap-x-10" id="weekly-report" role="tabpanel" aria-labelledby="weekly-report-tab">
                            <div class="col-span-6 sm:col-span-6 md:col-span-4">
                                <div class="text-slate-500 head">Category</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ product.Category }}</div>
                                    
                                </div>
                            </div>
                            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                <div class="text-slate-500 head">Product View</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ product.Sub_Category }}</div>
                                </div>
                            </div>
                            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                <div class="text-slate-500 head">Brand</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ product.Brand }}</div>
                                </div>
                            </div>
                            <div class="col-span-4">
                                <div class="text-slate-500 head">Price</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ product.Price }}</div>
                                </div>
                            </div>
                            <div class="col-span-4">
                                <div class="text-slate-500 head">Offer Price</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ product.Offer_Price }}</div>
                                </div>
                            </div>
                            <div class="col-span-4">
                                <div class="text-slate-500 head">Discount</div>
                                <div class="mt-1.5 flex items-center">
                                    <div class="text-base">{{ product.Discount }} %</div>
                                </div>
                            </div>
                            <div class="col-span-12">
                                <div class="">
                                    <div class="text-slate-500 head">Description</div>
                                    <div class="mt-1.5 flex items-center">
                                        <div class="text-base">{{ product.Description | safe }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-span-12">
                                <div class="w-48 h-48 relative image-fit mb-5 mr-5 cursor-pointer zoom-in mr-5">
                                    <img class="rounded-md" alt="" src="{{ product.Thumbnail.url }}">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END: General Report -->
<div class="container-fluid" style=" padding-top: 50px;">
    <ul class="nav nav-link-tabs" role="tablist">
        <!-- <li id="example-5-tab" class="nav-item flex-1" role="presentation">
            <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#example-tab-5" type="button" role="tab" aria-controls="example-tab-5" aria-selected="true">
                Images
            </button>
        </li> -->
        <li id="example-6-tab" class="nav-item flex-1" role="presentation">
            <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#example-tab-6" type="button" role="tab" aria-controls="example-tab-6" aria-selected="false">
                Reviews
            </button>
        </li>
    </ul>
    <div class="tab-content mt-5">
        <!-- <div id="example-tab-5" class="tab-pane leading-relaxed active" role="tabpanel" aria-labelledby="example-5-tab">
            <div class="post intro-y overflow-hidden box mt-5"><br><br>                
                <div class="post__content tab-content">
                    <div id="content" class="tab-pane p-5 active" role="tabpanel" aria-labelledby="content-tab">
                        <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 mt-5">
                            <div class="font-medium flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5"> <i data-lucide="chevron-down" class="w-4 h-4 mr-2"></i> Images </div>
                            <div class="mt-5">   
                                <div class="flex items-center mt-5">
                                    {% for image in images %}
                                        <div class="w-48 h-48 relative image-fit mb-5 mr-5 cursor-pointer zoom-in mr-5">
                                            <img class="rounded-md" alt="" src="{{image.Image.url}}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div> -->
        <!--  -->
        <div id="example-tab-6" class="tab-pane leading-relaxed active" role="tabpanel" aria-labelledby="example-6-tab">
            <div class="post intro-y overflow-hidden box mt-5"><br><br>                
                <div class="post__content tab-content">
                    <div id="content" class="tab-pane p-5 active" role="tabpanel" aria-labelledby="content-tab">
                        <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 mt-5">
                            <div class="font-medium flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5"> <i data-lucide="chevron-down" class="w-4 h-4 mr-2"></i> Reviews </div>
                            {% for review in reviews %}
                                <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 mb-3">
                                    <div class="font-medium flex items-center text-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5">{{ review.User.first_name }}</div>
                                    <div class="mt-5">
                                        <div class="editor">
                                            <p>{{ review.Review }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    <!-- END: Wizard Layout -->
            </div>
    </div>
    <!-- BEGIN: Delete Confirmation Modal -->
    <div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="category_id" id="category_id">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="p-5 text-center">
                            <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                            <div class="text-3xl mt-5">Are you sure?</div>
                            <div class="text-slate-500 mt-2">Do you really want to delete these records? <br>This process cannot be undone.</div>
                        </div>
                        <div class="px-5 pb-8 text-center">
                            <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                            <button type="submit" class="btn btn-danger w-24">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Delete Confirmation Modal -->
    <script>
        function delete_category(category_id){
            $('#category_id').val(category_id)
        }
    </script>
{% endblock content %}