{% extends 'Dashboard/base.html' %}
{% load static %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Approve Timesheet</li>
{% endblock page %}

{% block content %}

    <!-- BEGIN: Notification -->
    {% if messages %}
        {% for message in messages %}
            <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
                <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
                <span>{{ message }}</span>
                <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
            </div>
        {% endfor %}
    {% endif %}
    <!-- BEGIN: Notification -->

    <h2 class="intro-y text-lg font-medium mt-10 text-primary" style="text-align: center; font-size: 35px;padding-top: 30px; padding-bottom: 30px; border-bottom: solid 1px #bcbcbc;">Approve Timesheet</h2>

    <div class="grid grid-cols-12 gap-6 mt-5">

        <form method="post" class="col-span-12 flex flex-wrap justify-center gap-5">
            {% csrf_token %}
            <div class="col-span-2">
                <select name="member" id="member" class="form-control">
                    {% if filter.Employee == None %}
                        <option value="">Filter by Team Member</option>
                    {% else %}
                        <option value="{{ filter.Employee.id }}">{{ filter.Employee }}</option>
                    {% endif %}

                    {% for member in members %}
                        <option value="{{ member.id }}">{{ member }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-span-12 sm:col-span-2">
                <select name="client" id="project" class="form-control">
                    {% if filter.Client == None %}
                        <option value="">Filter by Client</option>
                    {% else %}
                        <option value="{{ filter.Client.id }}">{{ filter.Client }}</option>
                    {% endif %}

                    {% for client in clients %}
                        <option value="{{ client.id }}">{{ client }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-span-12 sm:col-span-2">
                <select name="task" id="task" class="form-control">
                    {% if filter.Task %}
                        <option value="{{ filter.Task.id }}">{{ filter.Task }}</option>
                    {% else %}
                        <option value="">Select Task</option>
                    {% endif %}
                </select>
            </div>

            <div class="col-span-2">
                <select name="status" id="status" class="form-control">
                    <option value="{{ filter.Status }}">{{ filter.Status }}</option>
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Reviced">Reviced</option>
                </select>
            </div>

            <div class="col-span-2">
                <input value="{{ filter.From_Date | date:'Y-m-d' }}" type="date" name="from_date" id="from_date" class="form-control">
            </div>

            <div class="col-span-2">
                <input value="{{ filter.To_Date | date:'Y-m-d' }}" type="date" name="to_date" id="to_date" class="form-control">
            </div>

            <div class="col-span-2">
                <button type="submit" class="btn btn-primary">GET</button>
            </div>
            <a href="{% url 'reset-filter' %}" class="btn btn-primary"><i data-lucide="refresh-ccw" class="w-5 h-5"></i></a>

        </form>

        <!-- BEGIN: Data List -->
        {% if timesheets %}
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-3 pt-5">
                <table class="table table-report -mt-2">
                    <thead>
                        <tr>
                            <th class="text-center whitespace-nowrap">SL. NO.</th>
                            <th class="text-center whitespace-nowrap">ADDED BY</th>
                            <th class="text-center whitespace-nowrap">PROJECT</th>
                            <th class="text-center whitespace-nowrap">DATE</th>
                            <th class="text-center whitespace-nowrap">REMARKS</th>
                            <th class="text-center whitespace-nowrap">STATUS</th>
                            <th class="text-center whitespace-nowrap">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody id="response">
                        {% for timesheet in timesheets %}
                            <tr class="intro-x" data-id="{{timesheet.id}}">

                                <td class="text-center whitespace-nowrap">
                                    {{ forloop.counter }}
                                </td>

                                <td class="text-center whitespace-nowrap">
                                    {{ timesheet.Added_By }}
                                </td>

                                <td class="text-center whitespace-nowrap">
                                    <span class="text-warning">
                                        {{ timesheet.Client }}
                                    </span>
                                    <br>
                                    {{ timesheet.Location }} - {{ timesheet.Mode }}
                                    <br>
                                    <span style="color: #5e72e4;">{{ timesheet.Task }}</span>
                                </td>

                                <td class="text-center whitespace-nowrap">
                                    {{ timesheet.Date | date:'d M Y' }}<br>
                                    <span style="color: #5e72e4;">
                                        {{ timesheet.Start_Time | time:"h:i A" }} to {{ timesheet.End_Time | time:"h:i A" }}
                                    </span><br>
                                    <span class="text-success">{{ timesheet.formatted_duration }}</span>
                                </td>

                                <td class="text-center whitespace-nowrap">
                                    {{ timesheet.Remarks }} 
                                </td>

                                <td class="text-center whitespace-nowrap">
                                    {% if timesheet.Status == 'Rejected' %}
                                        <span class="text-danger">REJECTED</span>
                                    {% elif timesheet.Status == 'Approved' %}
                                        <span class="text-success">APPROVED</span>
                                    {% elif timesheet.Status == 'Reviced' %}
                                        <span class="text-warning">REVICED</span>
                                    {% else %}
                                        <span class="text-warning">PENDING</span>
                                    {% endif %}
                                </td>

                                <td class="table-report__action">
                                    <div class="flex justify-center items-center">
                                        {% if timesheet.Status == 'Pending' or timesheet.Status == 'Reviced' %}
                                            <a onclick="approve('{{ timesheet.id }}')" class="flex items-center text-success whitespace-nowrap mr-5" 
                                            title="approve" href="javascript:;" data-tw-toggle="modal" 
                                            data-tw-target="#approve-confirmation-modal">
                                                <i data-lucide="thumbs-up" class="w-4 h-4 approve" data-id="{{timesheet.id}}"></i> 
                                            </a>
                                        {% endif %}
                                        
                                        {% if timesheet.Status == 'Pending' %}
                                            <a onclick="revice('{{ timesheet.id }}')" class="flex items-center text-warning whitespace-nowrap mr-5" 
                                            title="revice" href="javascript:;" data-tw-toggle="modal" 
                                            data-tw-target="#revice-confirmation-modal">
                                                <i data-lucide="refresh-ccw" class="w-4 h-4 approve" data-id="{{timesheet.id}}"></i> 
                                            </a>
                                        {% endif %}
                                        
                                        {% if timesheet.Status == 'Pending' or timesheet.Status == 'Reviced' %}
                                            <a onclick="reject('{{ timesheet.id }}')" class="flex items-center text-danger whitespace-nowrap mr-5" 
                                                title="reject" href="javascript:;" data-tw-toggle="modal" 
                                                data-tw-target="#delete-confirmation-modal">
                                                <i data-lucide="thumbs-down" class="w-4 h-4 reject" data-id="{{timesheet.id}}"></i> 
                                            </a>
                                        {% endif %}

                                        {% if timesheet.Status == 'Approved' or timesheet.Status == 'Rejected' %}
                                            <i data-lucide="refresh-ccw" class="w-4 h-4"></i>
                                        {% endif %}
                                    </div>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
                <table class="table table-report -mt-2">
                    <tbody>
                        <tr class="intro-x width"> 
                            <td class=" width" style="width:100%;">
                                <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;
                                    background: #e8e4e4;" class="w-4 h-4 mr-2 text-primary">  
                                </i>
                            <div style="text-align: center;">No data available!</div>
                            </td>   
                        </tr>    
                    </tbody>
                </table>
            </div>
        {% endif %}
        <!-- END: Data List -->
    </div>

    <!-- BEGIN: Delete Confirmation Modal -->
    <div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'reject' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" id="reject_id">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="p-5 text-center">
                            <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                            <div class="text-3xl mt-5">Are you sure?</div>
                            <div class="text-slate-500 mt-2">Do you really want to delete these timesheet? <br>This process cannot be undone.</div>
                        </div>
                        <div class="px-5 pb-8 text-center">
                            <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                            <button type="submit" class="btn btn-danger w-24">Reject</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Delete Confirmation Modal -->

    <!-- BEGIN: Approve Confirmation Modal -->
    <div id="approve-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'approve' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" id="approve_id">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="p-5 text-center">
                            <i data-lucide="check-circle" class="w-16 h-16 text-success mx-auto mt-3"></i>
                            <div class="text-3xl mt-5">Are you sure?</div>
                            <div class="text-slate-500 mt-2">Do you really want to approve these timesheet? <br>This process cannot be undone.</div>
                        </div>
                        <div class="px-5 pb-8 text-center">
                            <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                            <button type="submit" class="btn btn-success text-white w-24">Approve</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Approve Confirmation Modal -->

    <!-- BEGIN: Revice Confirmation Modal -->
    <div id="revice-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'revice' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" id="revice_id">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="p-5 text-center">
                            <i data-lucide="refresh-ccw" class="w-16 h-16 text-warning mx-auto mt-3"></i>
                            <div class="text-3xl mt-5">Are you sure?</div>
                            <div class="text-slate-500 mt-2">Do you really want to revice these timesheet? <br>This process cannot be undone.</div>
                        </div>
                        <div class="px-5 pb-8 text-center">
                            <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                            <button type="submit" class="btn btn-warning w-24">Revice</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Approve Confirmation Modal -->
    <script>
        function approve(timesheet_id){
            $('#approve_id').val(timesheet_id)
        }

        function revice(timesheet_id){
            $('#revice_id').val(timesheet_id)
        }

        function reject(timesheet_id){
            $('#reject_id').val(timesheet_id)
        }
    </script>
{% endblock content %}